*{
  margin: 0px;
}

body {
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
}
.imageBackgorund{
  background-image: url("../img/contract01.jpg");
  max-width: 100%;
  height: auto;
}
h1 {
  display: flex;
  justify-content: center;
}
.formMaster{
  display: flex;
  justify-content: space-between;
  flex-grow: 10;
  margin: 0  120px;
}
.locator{
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
}

.tenant{
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
}